<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.dao.UserDao">
    <select id="getUserIdByMail" resultType="java.lang.Long">
        select id from user where mail = #{mail}
    </select>
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user(userName,password,mail,phone,registerDate) values (#{userName},#{password},#{mail},#{phone},now())
    </insert>
    <select id="getUserIdByUserName" resultType="java.lang.Long">
        select id from user where username = #{username}
    </select>
    <select id="queryUserByMail" resultType="user">
        select * from user where mail = #{mail}
    </select>
    <select id="queryUserByMailPassword" resultType="user">
        select * from user where mail = #{mail} and password = #{password}
    </select>
    <select id="getUserIdByPhone" resultType="java.lang.Long">
        select id from user where phone = #{phone}
    </select>
    <update id="setPortraitFileName">
        update user set portraitFileName = #{fileName} where id = #{id}
    </update>
    <select id="queryUserById" resultType="user">
        select id,userName,mail,followSum,fensSum,collectSum,profile,portraitFileName,registerDate from user where id = #{id}
    </select>
    <update id="updateUserPassword">
        update user set password = #{password} where id = #{id}
    </update>
    <select id="queryPasswordById" resultType="java.lang.String">
        select password from user where id = #{id}
    </select>
    <select id="whetherTheUserIsFollowed" resultType="java.lang.Integer">
        select 1 from attention where userId = #{userId} and beAttentionUserId = #{beAttentionUserId} limit 1
    </select>

    <select id="getUserAttentions" resultMap="userAttention">
        select a.userId,a.beAttentionUserId,u.version from user as u,attention as a
        where u.id = a.userId and a.userId = #{id}
    </select>

    <select id="getUserVersionBatch" resultType="java.lang.Integer" parameterType="java.util.List">
        select version from user
        where id in 
        <foreach collection="list" item="id" open="(" close=")" separator="," >
            #{id}
        </foreach>
    </select>

    <update id="incrementVersion">
        update user set version = version + 1 where id = #{id}
    </update>
    <resultMap id="userAttention" type="com.example.basic.vo.UserAttention">
        <result property="userId" column="userId"/>
        <result property="beAttentionUserId" column="beAttentionUserId"/>
        <result property="version" column="version"/>
    </resultMap>
</mapper>