<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.comment.dao.ArticleCommentSupportDao">
    <select id="userHasSupportCommentLevelOne" resultType="java.lang.Integer">
        select 1 from article_level_one_support where commentId = #{commentId} and userId = #{userId} limit 1
    </select>
    <insert id="supportLevelOne">
        insert into article_level_one_support(commentId,userId)
        values (#{commentId},#{userId})
    </insert>
    <delete id="unSupportLevelOne">
        delete from article_level_one_support
        where commentId = #{commentId} and userId = #{userId}
    </delete>
    <select id="userHasSupportCommentLevelTwo" resultType="java.lang.Integer">
        select 1 from article_level_two_support where replyId = #{replyId} and userId = #{userId} limit 1
    </select>
    <insert id="supportLevelTwo">
        insert into article_level_two_support(replyId,userId)
        values (#{replyId},#{userId})
    </insert>
    <delete id="unSupportLevelTwo">
        delete from article_level_two_support
        where replyId = #{replyId} and userId = #{userId}
    </delete>
    <delete id="deleteAllLevelOneSupport">
        delete from article_level_one_support
        where commentId = #{commentId}
    </delete>
    <delete id="deleteAllLevelTwoSupport">
        delete from article_level_two_support
        where replyId = #{replyId}
    </delete>
</mapper>