<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.answer.dao.AnswerDao">
    <insert id="insertAnswer" keyProperty="id" useGeneratedKeys="true">
        insert into answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            questionId,
            userId,
            content,
            contentType,
            <if test="thumbnail != null">
                thumbnail,
            </if>
            supportSum,
            commentSum,
            time
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            #{questionId},
            #{userId},
            #{content},
            #{contentType},
            <if test="thumbnail != null">
                #{thumbnail},
            </if>
            0,0,now()
        </trim>
    </insert>

    <select id="queryRandomAnswerByQuestionId" resultType="answer">
        select * from answer where questionId = #{questionId} order by rand() limit 1
    </select>
    <select id="getRandomAnswer" resultType="answer">
        select * from answer order by rand() limit #{sum}
    </select>
    <select id="queryAnswerById" resultType="answer">
        select id,questionId,userId,supportSum,commentSum,time from answer where id = #{id}
    </select>

    <select id="getAnswerOrder" resultType="java.lang.Long">
        select id from answer where questionId = #{questionId} order by supportSum desc,id asc
    </select>
    <select id="userHasAttention" resultType="java.lang.Integer">
        select 1 from attention where userId = #{userId} and answererId = #{answererId} limit 1
    </select>
    <select id="userHasSupport" resultType="java.lang.Integer">
        select 1 from answer_support where userId = #{userId} and answerId = #{answerId} limit 1
    </select>

    <update id="updateAnswerCommentSum">
        update answer set commentSum = commentSum + 1 where id = #{answerId}
    </update>
</mapper>