<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.search.dao.ArticleDao">
    <select id="getAllArticleTitle" resultType="java.lang.String">
        select title from article
    </select>
    <select id="getAllArticle" resultType="article">
        select * from article
    </select>
</mapper>