<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.search.dao.UserDao">
    <select id="getUserById" resultType="user" parameterType="java.lang.Long">
        select * from user where id = #{id}
    </select>
    <select id="getAllUser" resultType="com.example.search.document.UserDoc">
        select id,username,portraitFileName,profile from user
    </select>
</mapper>